/* Build Canada Colours */
@import "./auburn.css";
@import "./charcoal.css";
@import "./linen.css";

/* Mackenzie's Chart Colours */
@import "./aurora.css";
@import "./copper.css";
@import "./lake.css";
@import "./maritime.css";
@import "./nickel.css";
@import "./pine.css";
@import "./steel.css";

/* Andrew's Vibrant Colours */
@import "./cerulean.css";
@import "./sienna.css";
@import "./amethyst.css";
@import "./emerald.css";
