@import "tailwindcss";
@import "../../styles/main.css";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Söhne Kraftig";
  src: url("/soehne-kraftig.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Financier Text";
  src: url("/financier-text-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founder's Grotesk Mono";
  src: url("/founders-grotesk-mono-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-sans: "Financier Text", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Söhne Kraftig", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Founder's Grotesk Mono", ui-monospace, monospace;
}

@theme inline {
  /* Fonts */
  --font-family-sans: var(--font-sans);
  --font-family-display: var(--font-display);
  --font-family-mono: var(--font-mono);

  /* Border Radius */
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border focus:outline-ring/50 hover:outline-none;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
  code,
  pre,
  kbd,
  samp {
    font-family: var(--font-mono);
  }
}
